@define-color bg rgba(2, 8, 22, 1.0);
@define-color fg rgba(162, 151, 187, 1.0);
@define-color crs rgba(162, 151, 187, 1.0);
@define-color color0 rgba(2, 8, 22, 1.0);
@define-color color1 rgba(170, 66, 69, 1.0);
@define-color color2 rgba(246, 152, 87, 1.0);
@define-color dark_color2 rgba(246, 152, 87, 0.5);
@define-color color3 rgba(250, 193, 93, 1.0);
@define-color color4 rgba(57, 32, 130, 1.0);
@define-color color5 rgba(38, 63, 129, 1.0);
@define-color color6 rgba(46, 68, 128, 1.0);
@define-color color7 rgba(162, 151, 187, 1.0);
@define-color color8 rgba(113, 105, 130, 1.0);
@define-color color9 rgba(170, 66, 69, 1.0);
@define-color color10 rgba(246, 152, 87, 1.0);
@define-color color11 rgba(250, 193, 93, 1.0);
@define-color color12 rgba(57, 32, 130, 1.0);
@define-color color13 rgba(38, 63, 129, 1.0);
@define-color color14 rgba(46, 68, 128, 1.0);
@define-color color15 rgba(162, 151, 187, 1.0);

/* Font settings */
* {
    font-family: "Symbols Nerd Font", "JetBrainsMono NFP", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/* Notification styling */
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @bg;
}

.notification-row {
    outline: none;
    margin: 20px;
    padding: 0;
}

.notification {
    background: transparent;
    margin: 0px;
}

.notification-content {
    background: @bg;
    padding: 7px;
    border-radius: 0px;
    border: 2px solid @color1;
    margin: 0;
}

.close-button:hover,
.close-button {
    background: @bg;
    color: @color7;
    text-shadow: none;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 5px;
}

.notification-default-action:hover,
.notification-action:hover,
.notification-action {
    color: @color7;
    border: 2px solid @color1;
    border-top: none;
    border-radius: 0px;
    background: @color1;
}

.summary {
    padding-top: 7px;
    font-size: 13px;
    color: @color2;
}

.time {
    font-size: 11px;
    color: @color7;
    margin-right: 24px;
}

.body {
    font-size: 12px;
    color: @color7;
}

/* Control center styling */
.control-center {
    background: @bg;
    border: 2px solid @color1;
    border-radius: 0px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: .5;
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1);
}

/* Widgets styling */
.widget-title {
    color: @color7;
    background: @bg;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
}
.widget-title > button {
    font-size: 1rem;
    color: @color2;
    text-shadow: none;
    background: @bg;
    box-shadow: none;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-title > button:hover {
    background: @color2;
    color: @bg;
}

.widget-dnd {
    background: @bg;
    padding: 5px 10px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    font-size: large;
    color: @color7;
}
.widget-dnd > switch{
    background: @bg;
    color: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-dnd > switch:checked {
    background: @dark_color2;
}
.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
    background: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}

.widget-mpris {
    color: @color7;
    background: @bg;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 10px;
}
.widget-mpris > box > button {
    color: #ffffff;
    background: #000000;
    border-radius: 5px;
}
.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px;
}
.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem;
}
.widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-volume,
.widget-backlight {
    color: @color7;
    background-color: @bg;
}
.widget-backlight scale trough,
.widget-volume scale trough{
    color: @color2;
    border: 1px solid @color2;
    background-color: @bg;
}
.widget-backlight scale trough highlight,
.widget-volume scale trough highlight{
    background-color: @color2;
    border: 1px solid @color2;
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    background: @bg;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 3px;
    background: @bg;
    color: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @color2;
    color: @bg;
}
.widget-buttons-grid > flowbox > flowboxchild > button.active {
    background-color: @color2;
    color: @bg;
}