@define-color bg rgba(13, 16, 19, 1.0);
@define-color fg rgba(204, 238, 240, 1.0);
@define-color crs rgba(204, 238, 240, 1.0);
@define-color color0 rgba(13, 16, 19, 1.0);
@define-color color1 rgba(191, 196, 90, 1.0);
@define-color color2 rgba(95, 141, 184, 1.0);
@define-color dark_color2 rgba(95, 141, 184, 0.5);
@define-color color3 rgba(50, 145, 205, 1.0);
@define-color color4 rgba(95, 172, 221, 1.0);
@define-color color5 rgba(112, 205, 242, 1.0);
@define-color color6 rgba(183, 183, 175, 1.0);
@define-color color7 rgba(204, 238, 240, 1.0);
@define-color color8 rgba(142, 166, 168, 1.0);
@define-color color9 rgba(191, 196, 90, 1.0);
@define-color color10 rgba(95, 141, 184, 1.0);
@define-color color11 rgba(50, 145, 205, 1.0);
@define-color color12 rgba(95, 172, 221, 1.0);
@define-color color13 rgba(112, 205, 242, 1.0);
@define-color color14 rgba(183, 183, 175, 1.0);
@define-color color15 rgba(204, 238, 240, 1.0);

/* Font settings */
* {
    font-family: "Symbols Nerd Font", "JetBrainsMono NFP", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/* Notification styling */
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @bg;
}
.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}
.notification {
    background: transparent;
    margin: 0px;
}
.notification-content {
    background: @bg;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid @color2;
    margin: 0;
}
.close-button:hover,
.close-button {
    background: @bg;
    color: @color7;
    text-shadow: none;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
.notification-default-action:hover,
.notification-action:hover,
.notification-action {
    color: @color7;
    border: 2px solid @color2;
    border-top: none;
    border-radius: 5px;
    background: @color2;
}
.summary {
    padding-top: 7px;
    font-size: 13px;
    color: @color2;
}
.time {
    font-size: 11px;
    color: @color7;
    margin-right: 24px;
}
.body {
    font-size: 12px;
    color: @color7;
}

/* Control center styling */
.control-center {
    background: @bg;
    border: 2px solid @color2;
    border-radius: 5px;
}
.control-center-list {
    background: transparent;
}
.control-center-list-placeholder {
    opacity: .5;
}
.floating-notifications {
    background: transparent;
}
.blank-window {
    background: alpha(black, 0.1);
}

/* Widgets styling */
.widget-title {
    color: @color7;
    background: @bg;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
}
.widget-title > button {
    font-size: 1rem;
    color: @color2;
    text-shadow: none;
    background: @bg;
    box-shadow: none;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-title > button:hover {
    background: @color2;
    color: @bg;
}

.widget-dnd {
    background: @bg;
    padding: 5px 10px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    font-size: large;
    color: @color7;
}
.widget-dnd > switch{
    background: @bg;
    color: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-dnd > switch:checked {
    background: @dark_color2;
}
.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
    background: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}

.widget-mpris {
    color: @color7;
    background: @bg;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 10px;
}
.widget-mpris button {
    color: @color2;
    background: @bg;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-mpris button:hover {
    color: @bg;
    background: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px;
}
.widget-mpris-title {
    color: @color2;
    font-weight: 700;
    font-size: 1.25rem;
}
.widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-volume,
.widget-backlight {
    color: @color7;
    padding: 5px;
    margin: 0px 5px 0px 15px;
    background-color: @bg;
}
.widget-volume label{
    font-size: 20px;
}
.widget-backlight label {
    font-size: 17px;
}
.widget-backlight scale trough,
.widget-volume scale trough{
    background-color: @bg;
    border: 1px solid @color7;
}
.widget-backlight scale trough highlight,
.widget-volume scale trough highlight{
    background-color: @color2;
    border: 1px solid @color2;
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    background: @bg;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 3px;
    background: @bg;
    color: @color2;
    border: 1px solid @color2;
    border-radius: 5px;
}
.widget-buttons-grid > flowbox > flowboxchild > button label {
    font-size: 14px;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @color2;
    color: @bg;
}
.widget-buttons-grid > flowbox > flowboxchild > button.active {
    background-color: @color2;
    color: @bg;
}
